{% extends "layout.html" %}

{% block body %}
    <h1>PogChamp</h1>
    <p>
        It's a twitch emote used to express excitement or joy.
        <br>  
        Example: 
        <br> 
        <b>Aneesh:</b> I scored back to back centuries in my last cricket match 
        <br>
        <b>Rachana:</b> That's so PogChamp!
    </p>
    <p>
        Note: Kindly check out the actual twitch emote on <a href="https://twitchemotes.com">Twitch Emotes website</a> for better understanding.
    </p>
{% endblock %}
